@model WebApp.ViewModels.BloodDonate.CreateViewModel

<h1>Edit</h1>

<h4>BloodDonate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BloodDonate.DonorId" class="control-label"></label>
                <select asp-for="BloodDonate.DonorId" class="form-control" asp-items="@Model.Patients"></select>
                <span asp-validation-for="BloodDonate.DonorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.DoctorId" class="control-label"></label>
                <select asp-for="BloodDonate.DoctorId" class="form-control" asp-items="@Model.Doctors"></select>
                <span asp-validation-for="BloodDonate.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.BloodTestId" class="control-label"></label>
                <select asp-for="BloodDonate.BloodTestId" class="form-control" asp-items="@Model.BloodTests"></select>
                <span asp-validation-for="BloodDonate.BloodTestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.BloodGroupId" class="control-label"></label>
                <select asp-for="BloodDonate.BloodGroupId" class="form-control" asp-items="ViewBag.BloodGroupId"></select>
                <span asp-validation-for="BloodDonate.BloodGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.Amount" class="control-label"></label>
                <input asp-for="BloodDonate.Amount" class="form-control" />
                <span asp-validation-for="BloodDonate.Amount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BloodDonate.Available" /> @Html.DisplayNameFor(model => model.BloodDonate.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.ExpireDate" class="control-label"></label>
                <input asp-for="BloodDonate.ExpireDate" class="form-control" />
                <span asp-validation-for="BloodDonate.ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.CreatedBy" class="control-label"></label>
                <input asp-for="BloodDonate.CreatedBy" class="form-control" />
                <span asp-validation-for="BloodDonate.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.CreateAt" class="control-label"></label>
                <input asp-for="BloodDonate.CreateAt" class="form-control" />
                <span asp-validation-for="BloodDonate.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.UpdateBy" class="control-label"></label>
                <input asp-for="BloodDonate.UpdateBy" class="form-control" />
                <span asp-validation-for="BloodDonate.UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodDonate.UpdatedAt" class="control-label"></label>
                <input asp-for="BloodDonate.UpdatedAt" class="form-control" />
                <span asp-validation-for="BloodDonate.UpdatedAt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BloodDonate.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

